<%- include('../base/header') %>
<h2 class="text-center">Add a new flight </h2>  
<form action="/flights" method="POST">
    <label>Air Line     :
        <select name="airline">
            <option value="American">American AirLines</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United AirLines</option>
        </select>
    </label><br>

    <label>Air Port       :
      <select name="airport">
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN" selected>DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
      </select>
    </label><br>
   
    <label>Flight No    : 
        <input type="number" name= "flightNo"  placeholder=" 2 to 4 numbers">
    </label><br>
   
    <label> Departure Date 
        <input type ="datetime-local" name="departs" value="<%= new Date().toISOString().slice(0, 16)%>">
    </label>    
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<%- include('../base/footer') %>