<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Edit Skills</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" >Home</a>
        <a href="/skills">Dev Skills</a>
    </nav>
    <h1>Edit Skills</h1>
    <form action ="/skills/<%= skill.id %>?_method=PUT" method="POST"  autocomplete="off">
        <input class="form-control" type="text" name="skill" value="<%=skill.skill%>" >
        <br>
        <input class="form-control" type="text" name="comments" value="<%=skill.comments%>" >
        <br>
        <button class="btn btn-primary" type="submit" class="btn btn-primary">Save Skill</button>
    </form>
</body>
</html>